# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules/
survey_builder/
ab/
json_au/
./suma/
**/*.swp
**/.module-cache/
sprite.scssc
*/.idea/workspace.xml
.textClipping
# コメントになる
*/.DS_Store
.idea/
.idea/workspace.xml
bower_components/
dist/*.js
firebase.json
database.rules.json